
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:100,600");

// Variables
@import "variables";

 html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: $font-family;
                font-weight: 100;
                height: 100vh;
                margin: 0;
            }

            .collapse{cursor:pointer;font-size:14px;padding-top:10px;}

            .user{
                padding:2rem;
                text-align:center;
            }
            .photo{
  				transition: $photo-transition;
  				padding:0.2em;
            }

            #users-list{
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
            }
            
            .expand{display:block;}
            .fold{display:none;}
            .photo{display:none;}
            .collapsed .photo{display:block;}
            .collapsed .expand{display:none;}
            .collapsed .fold{display:block;}

            body{text-align:center;}
            .pager a{display:inline-block;width:20px;height:20px;line-height:20px;text-align:center;background:#c8c8c8;border-radius:2px;color:#000;text-decoration:none;}
            .pager a.active, .pager a:hover{background:#000;color:#fff;}

